# Bytecode and Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/
.aa-env/
aa-env/

# Packaging
*.egg-info/
dist/
build/

# VS Code and editor files
.vscode/
.idea/

# SQLite and test DBs
*.sqlite3

# Django secret files
*.log
*.pid
*.db
*.bak

# Test project (optional)
testauth/

